# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/
.env

# =========================
# ASP.NET Core
# =========================
bin/
obj/
*.user
*.suo
*.db
*.sqlite
*.log

# =========================
# Secrets
# =========================
appsettings.Development.json
appsettings.Production.json
.env

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db